@using static Capital.GSG.FX.Data.Core.ContractData.Currency;

@model StratedgemeMonitor.Models.Accounts.AccountModel

@{
    ViewBag.Title = $"{Model.Broker} - {Model.Name}";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>@Html.DisplayFor(m => m.Broker) - @Html.DisplayFor(m => m.Name)</h2>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Broker)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Broker)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LastUpdate)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastUpdate)
                    </dd>
                </dl>
            </div>
            <div class="panel-footer">
                <a class="btn btn-primary" asp-action="Index">Back</a>
            </div>
        </div>
    </div>
</div>
@*<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Attributes</h4>
            </div>
            @if (Model.Attributes.Count > 0)
            {
                <table class="table table-condensed">
                    @foreach (var attribute in Model.Attributes)
                    {
                        <tr>
                            <td>@Html.DisplayFor(p => attribute.Key)</td>
                            <td>@Html.DisplayFor(p => attribute.Value)</td>
                            <td>@(attribute.Currency != UNKNOWN ? attribute.Currency.ToString() : "")</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="panel-body">
                    <p>No attribute</p>
                </div>
            }
        </div>
    </div>
</div>*@