@using static Capital.GSG.FX.Data.Core.SystemData.SystemStatusLevel;

@model StratedgemeMonitor.AspNetCore.Models.SystemStatusModel

@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="col-xs-12" id="alertholder">
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="@(Model.OverallStatus == GREEN ? "panel panel-success" : Model.OverallStatus == YELLOW ? "panel panel-warning" : "panel panel-danger")">
            <div class="panel-heading">
                <h2>@Html.DisplayFor(m => m.Name) <small>@Html.DisplayFor(m => Model.Datacenter)</small></h2>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => Model.IsAlive)
                    </dt>
                    @if (Model.IsAlive)
                    {
                        <dd class="text-success">RUNNING</dd>
                    }
                    else
                    {
                        <dd class="text-danger">STOPPED</dd>
                    }

                    <dt>
                        @Html.DisplayNameFor(model => Model.OverallStatus)
                    </dt>

                    <dd class="@(Model.OverallStatus == GREEN ? "text-success" : Model.OverallStatus == YELLOW ? "text-warning" : "text-danger")">
                        @Html.DisplayFor(model => Model.OverallStatus)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => Model.LastHeardFrom)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => Model.LastHeardFrom)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => Model.StartTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => Model.StartTime)
                    </dd>
                </dl>
            </div>
            <div class="panel-footer">
                <div class="btn-group">
                    <a class="btn btn-danger" onclick="deleteSystem('@Model.Name')"><span class="glyphicon glyphicon-trash"></span></a>
                    @if (Model.Restartable)
                    {
                        @if (!Model.IsAlive)
                        {
                            <button class="btn btn-success" onclick="startSystem('@Model.Name')"><span class="glyphicon glyphicon-play"></span></button>
                        }
                        else
                        {
                            <button class="btn btn-danger" onclick="stopSystem('@Model.Name')"><span class="glyphicon glyphicon-stop"></span></button>
                        }
                    }
                </div>
                <div class="pull-right">
                    <a class="btn btn-primary" asp-action="Index">Back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Attributes</h4>
            </div>
            @if (Model.Attributes.Count > 0)
            {
                <table class="table table-condensed">
                    @foreach (var attribute in Model.Attributes)
                    {
                        <tr class="@(attribute.Level == GREEN ? "bg-success" : attribute.Level == YELLOW ? "bg-warning" : "bg-danger")">
                            <td>@Html.DisplayFor(p => attribute.Name)</td>
                            <td>@Html.DisplayFor(p => attribute.Value)</td>
                            <td>@Html.DisplayFor(p => attribute.AckedUntil)</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <div class="panel-body">
                    <p>No attribute</p>
                </div>
            }
        </div>
    </div>
</div>