@using static Capital.GSG.FX.Data.Core.SystemData.SystemStatusLevel;

@model StratedgemeMonitor.ViewModels.TradeEngines.TradeEnginesListViewModel

@{
    ViewBag.Title = "Trade Engines";
}

@if (Model.TradeEngines.Count > 0)
{
    @foreach (var tradeEngine in Model.TradeEngines)
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="@(tradeEngine.Status?.OverallStatus == RED ? "panel panel-danger" : tradeEngine.Status?.OverallStatus == YELLOW ? "panel panel-warning" : tradeEngine.Status?.OverallStatus == GREEN ? "panel panel-success" : "panel panel-default")">
                    <div class="panel-heading">
                        <h2>@Html.DisplayFor(m => tradeEngine.Name)</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Crosses</h4>
                                    </div>
                                    <div class="panel-body">
                                        <dl class="dl-horizontal">
                                            <dt>Trading Crosses:</dt>
                                            <dd>@(string.Join(", ", tradeEngine.TradingCrossesList.Select(c => c.Text).Except(new string[1] { "ALL" })))</dd>
                                            <dt>Non-Trading Crosses:</dt>
                                            <dd>@(string.Join(", ", tradeEngine.NonTradingCrossesList.Select(c => c.Text).Except(new string[1] { "ALL" })))</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Strategies</h4>
                                    </div>
                                    <div class="panel-body">
                                        <dl class="dl-horizontal">
                                            <dt>Active Strategies:</dt>
                                            <dd>@(string.Join(", ", tradeEngine.ActiveStratsList.Select(s => s.Text)))</dd>
                                            <dt>Inactive Strategies:</dt>
                                            <dd>@(string.Join(", ", tradeEngine.InactiveStratsList.Select(s => s.Text)))</dd>
                                            <dt>Trading Strategies:</dt>
                                            <dd>@(string.Join(", ", tradeEngine.TradingStratsList.Select(s => s.Text)))</dd>
                                            <dt>Non-Trading Strategies:</dt>
                                            <dd>@(string.Join(", ", tradeEngine.NonTradingStratsList.Select(s => s.Text)))</dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="panel panel-success">
                                    <div class="panel-body">
                                        <form class="form-horizontal" asp-action="Index" method="post">
                                            <input hidden asp-for="Action.TradeEngineName" value="@tradeEngine.Name" />
                                            <input hidden asp-for="Action.Action" value="StartTrading" />
                                            <select asp-for="Action.Cross" asp-items="@tradeEngine.NonTradingCrossesList"></select>
                                            <button type="submit" class="btn btn-sm btn-success">Start Trading</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="panel panel-danger">
                                    <div class="panel-body">
                                        <form class="form-horizontal" asp-action="Index" method="post">
                                            <input hidden asp-for="Action.TradeEngineName" value="@tradeEngine.Name" />
                                            <input hidden asp-for="Action.Action" value="StopTrading" />
                                            <select asp-for="Action.Cross" asp-items="@tradeEngine.TradingCrossesList"></select>
                                            <button type="submit" class="btn btn-sm btn-danger">Stop Trading</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="panel panel-danger">
                                    <div class="panel-body">
                                        <form class="form-horizontal" asp-action="Index" method="post">
                                            <input hidden asp-for="Action.TradeEngineName" value="@tradeEngine.Name" />
                                            <input hidden asp-for="Action.Action" value="ClosePosition" />
                                            <select asp-for="Action.Cross" asp-items="@tradeEngine.CrossesList"></select>
                                            <button type="submit" class="btn btn-sm btn-danger">Close Positions</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="panel panel-danger">
                                    <div class="panel-body">
                                        <form class="form-horizontal" asp-action="Index" method="post">
                                            <input hidden asp-for="Action.TradeEngineName" value="@tradeEngine.Name" />
                                            <input hidden asp-for="Action.Action" value="CancelOrders" />
                                            <select asp-for="Action.Cross" asp-items="@tradeEngine.CrossesList"></select>
                                            <button type="submit" class="btn btn-sm btn-danger">Cancel Active Orders</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="panel panel-success">
                                    <div class="panel-body">
                                        <form class="form-horizontal" asp-action="Index" method="post">
                                            <input hidden asp-for="Action.TradeEngineName" value="@tradeEngine.Name" />
                                            <input hidden asp-for="Action.Action" value="ActivateStrategy" />
                                            <select asp-for="Action.Strat" asp-items="@tradeEngine.InactiveStratsList"></select>
                                            <button type="submit" class="btn btn-sm btn-success">Activate Strategy</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="panel panel-danger">
                                    <div class="panel-body">
                                        <form class="form-horizontal" asp-action="Index" method="post">
                                            <input hidden asp-for="Action.TradeEngineName" value="@tradeEngine.Name" />
                                            <input hidden asp-for="Action.Action" value="DeactivateStrategy" />
                                            <select asp-for="Action.Strat" asp-items="@tradeEngine.ActiveStratsList"></select>
                                            <button type="submit" class="btn btn-sm btn-danger">Deactivate Strategy</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="panel panel-success">
                                    <div class="panel-body">
                                        <form class="form-horizontal" asp-action="Index" method="post">
                                            <input hidden asp-for="Action.TradeEngineName" value="@tradeEngine.Name" />
                                            <input hidden asp-for="Action.Action" value="StartTradingStrategy" />
                                            <select asp-for="Action.Strat" asp-items="@tradeEngine.NonTradingStratsList"></select>
                                            <button type="submit" class="btn btn-sm btn-success">Start Trading Strategy</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="panel panel-danger">
                                    <div class="panel-body">
                                        <form class="form-horizontal" asp-action="Index" method="post">
                                            <input hidden asp-for="Action.TradeEngineName" value="@tradeEngine.Name" />
                                            <input hidden asp-for="Action.Action" value="StopTradingStrategy" />
                                            <select asp-for="Action.Strat" asp-items="@tradeEngine.TradingStratsList"></select>
                                            <button type="submit" class="btn btn-sm btn-danger">Stop Trading Strategy</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p>No trade engine configured</p>
                </div>
            </div>
        </div>
    </div>
}