@using static Capital.GSG.FX.Data.Core.SystemData.AlertLevel;
@using static StratedgemeMonitor.AspNetCore.ViewComponents.AlertsListType;

@model StratedgemeMonitor.AspNetCore.ViewModels.AlertsListViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 style="display:inline-block">@Html.DisplayFor(m => Model.Header) <small>(@Model.Alerts.Count)</small></h4>
        @if (Model.ListType == Open)
        {
            <div class="pull-right">
                <a class="@(Model.Alerts.Count > 0 ? "btn btn-sm btn-danger" : "btn btn-sm btn-danger disabled")" onclick="closeAllAlerts()">Close All</a>
            </div>
        }
    </div>
    @if (Model.Alerts.Count > 0)
    {
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayNameFor(m => Model.Alerts.First().Timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(m => Model.Alerts.First().Source)
                </th>
                <th>
                    @Html.DisplayNameFor(m => Model.Alerts.First().Subject)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Alerts)
            {
                <tr class="@(item.Level <= INFO ? "bg-info" : item.Level <= WARNING ? "bg-warning" : "bg-danger")">
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Source)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        <div class="btn-group btn-group-xs">
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#alertModal-@item.AlertId"><span class="glyphicon glyphicon-plus"></span></button>
                            @if (Model.ListType == Open)
                            {
                                <a class="btn btn-danger" onclick="closeAlert('@item.AlertId')"><span class="glyphicon glyphicon-remove"></span></a>
                            }
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <div class="panel-body">
            <p>No alert</p>
        </div>
    }
</div>

<!-- Modals -->
@foreach (var alert in Model.Alerts)
{
    <div class="modal fade" id="alertModal-@alert.AlertId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title pull-left">Alert</h4>
                    <div class="btn-group btn-group-sm pull-right">
                        <a class="btn btn-primary" asp-controller="Alerts" asp-action="Details" asp-route-id="@alert.AlertId"><span class="glyphicon glyphicon-share"></span> Open</a>
                    </div>
                </div>
                @Html.Partial("AlertPartial", alert)
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
}
<!-- End Modals -->
