@using Capital.GSG.FX.Data.Core.SystemData;

@model StratedgemeMonitor.AspNetCore.ViewModels.SystemsListViewModel

<div class="@(Model.OverallStatus == SystemStatusLevel.RED ? "panel panel-danger" : Model.OverallStatus == SystemStatusLevel.YELLOW ? "panel panel-warning" : Model.OverallStatus == SystemStatusLevel.GREEN ? "panel panel-success" : "panel panel-default")">
    <div class="panel-heading">
        <h4>Systems <small>(@Model.Statuses.Count)</small></h4>
    </div>
    @if (Model.Statuses.Count > 0)
    {
        <div style="max-height: 341px; overflow: auto">
            <table class="table table-hover">
                <tr>
                    <th>
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => Model.Statuses.First().LastHeardFrom)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => Model.Statuses.First().StartTime)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Statuses)
                {
                    <tr class="@(!item.IsAlive ? "bg-danger" : item.OverallStatus == SystemStatusLevel.GREEN ? "bg-success" : item.OverallStatus == SystemStatusLevel.YELLOW ? "bg-warning" : "bg-danger")">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastHeardFrom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            <div class="btn-group btn-group-xs">
                                <a class="btn btn-xs btn-primary" asp-action="SystemDetails" asp-route-systemName="@item.Name"><span class="glyphicon glyphicon-plus"></span></a>
                                <a class="btn btn-xs btn-danger" asp-action="SystemDelete" asp-route-systemName="@item.Name"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                            @if (item.Restartable)
                            {
                                <div class="btn-group btn-group-xs">
                                    <a class="@(item.IsAlive ? "btn btn-xs btn-success disabled" : "btn btn-xs btn-success")" asp-acti asp-action="SystemStart" asp-route-systemName="@item.Name"><span class="glyphicon glyphicon-play"></span></a>
                                    <a class="@(item.IsAlive ? "btn btn-xs btn-danger" : "btn btn-xs btn-danger disabled")" asp-action="SystemStop" asp-route-systemName="@item.Name"><span class="glyphicon glyphicon-stop"></span></a>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
    else
    {
        <div class="panel-body">
            <p>No system status</p>
        </div>
    }
</div>
