@using static Capital.GSG.FX.Data.Core.MarketData.FXEventLevel

@model StratedgemeMonitor.ViewModels.FXEvents.FXEventsListViewModel

@{
    ViewBag.Title = "FX Events";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h2>Today's High Impact FX Events <small>(@Model.TodaysHighImpactFXEvents.Count)</small></h2>
            </div>
            @if (Model.TodaysHighImpactFXEvents.Count > 0)
            {
                @Html.Partial("FXEventsListPartial", Model.TodaysHighImpactFXEvents)
            }
            else
            {
                <div class="panel-body">
                    <p>No high impact FX Event today</p>
                </div>
            }
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>FX Events - @Html.DisplayFor(m => Model.CurrentWeekStart) to @Html.DisplayFor(m => Model.CurrentWeekEnd) <small>(@Model.FXEventsCount)</small></h2>
            </div>
            <div class="panel-body">
                @if (Model.CurrentWeeksFXEvents.Count > 0)
                {
                    <div class="row">
                        @foreach (var day in Model.CurrentWeeksFXEvents)
                        {
                            <div class="col-md-6 col-sm-12">
                                <div class="@(day.Key == DateTime.Today ? "panel panel-primary" : "panel panel-default")">
                                    <div class="panel-heading">
                                        <h4>@day.Key.ToString("dd MMM") <small>(@day.Value.Count)</small></h4>
                                    </div>
                                    @Html.Partial("FXEventsListPartial", day.Value)
                                </div>
                            </div>
                        }
                    </div>

                }
                else
                {
                    <p>No FX event in the specified period</p>
                }
            </div>
        </div>
    </div>
</div>